
server:
  port: 30004

spring:
  application:
    name: mall-sys
# spring-cloud-alibaba 2023.X版本使用的nacos配置中心
#  config:
#    import:
#      - nacos:datasource.yaml?group=DEFAULT_GROUP&refreshEnabled=true
#      - nacos:sa-token.yaml?group=DEFAULT_GROUP&refreshEnabled=true
#      - nacos:rabbitmq.yaml?group=DEFAULT_GROUP&refreshEnabled=true
#      - nacos:file.yaml?group=DEFAULT_GROUP&refreshEnabled=true

  cloud:
    openfeign:
      circuitbreaker:
        enabled: true


management:
  endpoints:
    web:
      exposure:
        include:  '*'

xxl:
  job:
    admin:
      addresses: http://localhost:30009/xxl-job-admin
      accessToken: 987654321
      timeout: 3
    executor:
      appname: mall
      address: http://yunze.com:31004/
      ip: yunze.com
      port: 31004
      logpath: ./logs/sys
      logretentiondays: 10
      excludepackages: org.springframework,spring
