
server:
  port: 30004

spring:
  application:
    name: mall-sys
# spring-cloud-alibaba 2023.X版本使用的nacos配置中心
#  config:
#    import:
#      - nacos:datasource.yaml?group=DEFAULT_GROUP&refreshEnabled=true
#      - nacos:sa-token.yaml?group=DEFAULT_GROUP&refreshEnabled=true
#      - nacos:rabbitmq.yaml?group=DEFAULT_GROUP&refreshEnabled=true
#      - nacos:file.yaml?group=DEFAULT_GROUP&refreshEnabled=true

  cloud:
    openfeign:
      circuitbreaker:
        enabled: true


management:
  endpoints:
    web:
      exposure:
        include:  '*'

xxl:
  job:
    admin:
      addresses: http://192.168.3.237:30009/xxl-job-admin
      accessToken: 123456789
      timeout: 3
    executor:
      appname: mall
      address: http://192.168.3.77:31004/
      ip: 192.168.3.77
      port: 31004
      logpath: ./logs/sys
      logretentiondays: 10
      excludepackages: org.springframework,spring

yz:
  mall:
    sys:
      caffeine-cache:
        maximum-size: 10000
        expire-after-write: 3600
        expire-after-access: 0