<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.dynamic.datasource.one.mapper.TProductMapper">


    <update id="createTable" parameterType="String">
        rename table t_product to ${tableName};
        create table if not exists t_product
        (
            id          bigint                                   not null comment '主键id'
                primary key,
            name        varchar(255)                             not null comment '商品名称',
            price       decimal(15, 2) default 0.00              not null comment '商品价格',
            create_date datetime       default CURRENT_TIMESTAMP not null comment '创建时间',
            update_date datetime       default CURRENT_TIMESTAMP not null on update CURRENT_TIMESTAMP comment '更新时间',
            invalid     tinyint        default 0                 not null comment '逻辑删除，0：有效数据；1：无效数据',
            key idx_product_del_date_price_name (invalid, create_date, price, name),
            key idx_product_del_name_price_date (invalid, name, price, create_date)
        ) comment '商品信息';
    </update>
</mapper>
