<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.mall.pms.mapper.PmsShopCartMapper">

    <select id="selectPageByFilter" resultType="com.yz.mall.pms.vo.PmsShopCartVo">
        <include refid="query" />
        and psc.user_id = #{filter.userId}
        order by id desc
    </select>

    <select id="selectCartByIds" resultType="com.yz.mall.pms.vo.PmsShopCartSlimVo">
        <include refid="query" />
        and psc.user_id = #{userId}
        and psc.id in <foreach collection="ids" item="id" open="(" close=")" separator=",">#{id}</foreach>
    </select>

    <!-- 购物车基础查询语句 -->
    <sql id="query">
        select psc.id, psc.product_id, psc.quantity
        from pms_shop_cart psc
        where psc.invalid = 0
    </sql>

    <update id="updateBatchByIds">
        <foreach collection="carts" item="cart" separator=";" index="index">
            update pms_shop_cart
            <set>
                update_time = #{cart.updateTime}, quantity = #{cart.quantity}
            </set>
            where id = #{cart.id} and user_id = #{cart.userId}
        </foreach>
    </update>

</mapper>
