<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.mall.pms.mapper.PmsProductMapper">

    <select id="selectProductDisplayInfoList" resultType="com.yz.mall.pms.vo.PmsProductDisplayInfoVo">
        select pp.id, pp.name, pp.price, pp.titles, pp.remark, pp.album_pics
        from pms_product pp
        where pp.invalid = 0 and pp.publish_status = 1 and pp.verify_status = 1
        <if test="filter.lastProductId != null and filter.lastProductId != ''">and pp.id &lt; #{filter.lastProductId}</if>
        <if test="filter.queryInfo != null and filter.queryInfo != ''">
          and (pp.name like concat('%', #{filter.queryInfo}, '%') or pp.titles like concat('%', #{filter.queryInfo}, '%'))
        </if>
        order by pp.id desc
        limit 20
    </select>
</mapper>
