networks:
  mall:
    driver: bridge

services:
  redis:
    image: registry.cn-guangzhou.aliyuncs.com/devyunze/redis:7.4.5
    container_name: 'dev-redis-7.4.5'
    command: redis-server --requirepass "12345678"
    ports:
      - '6379:6379'

  elasticsearch:
    image: registry.cn-guangzhou.aliyuncs.com/devyunze/elasticsearch:8.19.0
    container_name: 'dev-elasticsearch-8.19.0'
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1024m -Xmx1024m
      - xpack.security.enabled=false
      - xpack.security.enrollment.enabled=false
      - xpack.security.http.ssl.enabled=false
      - xpack.security.transport.ssl.enabled=false
    ports:
      - '9200:9200'
      - '9300:9300'
    # 可选：设置重启策略（除非手动停止，否则在容器意外退出时都会自动重启）
    restart: unless-stopped
    mem_limit: 1536m
    networks:
      - mall

  kibana:
    image: registry.cn-guangzhou.aliyuncs.com/devyunze/kibana:8.19.0
    container_name: 'dev-kibana-8.19.0'
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - '5601:5601'
    depends_on:
      - elasticsearch
    networks:
      - mall

  logstash:
    image: registry.cn-guangzhou.aliyuncs.com/devyunze/logstash:8.19.0
    container_name: 'dev-logstash-8.19.0'
    ports:
      - '4560:4560'
    environment:
      - LS_JAVA_OPTS=-Xmx512m -Xms256m
    volumes:
      - /Users/gaohan/Documents/docker/dev/logstash/mall-elk.conf:/usr/share/logstash/config/mall-elk.conf
      - /Users/gaohan/Documents/docker/dev/logstash/logstash.yml:/usr/share/logstash/config/logstash.yml
    entrypoint:
      - logstash
      - -f
      - /usr/share/logstash/config/mall-elk.conf
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "3"
    networks:
      - mall

  nacos:
    image: registry.cn-guangzhou.aliyuncs.com/devyunze/nacos-server:v2.5.1
    container_name: 'dev-nacos-2.5.1'
    volumes:
      - /Users/gaohan/Documents/docker/dev/nacos/application.properties:/home/nacos/conf/application.properties
    ports:
      - '8848:8848'
      - '9848:9848'
      - '9849:9849'
    env_file:
      - /Users/gaohan/Documents/docker/dev/nacos/config.env
    networks:
      - mall
  
  namesrv:
    image: registry.cn-guangzhou.aliyuncs.com/devyunze/rocketmq:5.3.3
    container_name: rocketmq-namesrv
    ports:
      - "9876:9876"
    command: "sh mqnamesrv"
  
  broker:
    image: registry.cn-guangzhou.aliyuncs.com/devyunze/rocketmq:5.3.3
    container_name: rocketmq-broker
    environment:
      - NAMESRV_ADDR=namesrv:9876
    ports:
      - "10911:10911"
      - "10909:10909"
    depends_on:
      - namesrv
    command: "sh mqbroker -n namesrv:9876"
  
  rocketmq-dashboard:
    image: registry.cn-guangzhou.aliyuncs.com/devyunze/rocketmq-dashboard:2.1.0
    container_name: rocketmq-dashboard-2.1
    environment:
      - JAVA_OPTS=-Drocketmq.namesrv.addr=namesrv:9876
    ports:
      - "8082:8082"