<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.mall.oms.mapper.OmsOrderMapper">

    <select id="selectPageByFilter" resultType="com.yz.mall.oms.vo.OmsOrderVo">
        select oo.id, oo.order_code, oo.order_status, oo.order_type
             , oo.total_amount, oo.discount_amount, oo.pay_amount, oo.receiver_name, oo.receiver_phone
             , oo.receiver_province, oo.receiver_city, oo.receiver_district, oo.receiver_address
             , oo.email, oo.create_time
        from oms_order oo
        where invalid = 0
        <if test="filter.userId != null">and oo.user_id = #{filter.userId}</if>
        <if test="filter.orderCode != null and filter.orderCode != ''">and oo.order_code = #{filter.orderCode}</if>
        <if test="filter.orderType != null">and oo.order_type = #{filter.orderType}</if>
        <if test="filter.orderStatus != null">and oo.order_status = #{filter.orderStatus}</if>
        <if test="filter.confirmStatus != null">and oo.confirm_status = #{filter.confirmStatus}</if>
        <if test="filter.payType != null">and oo.pay_type = #{filter.payType}</if>
        <if test="filter.receiverPhone != null">and oo.receiver_phone = #{filter.receiverPhone}</if>
        <if test="filter.receiverProvince != null and filter.receiverProvince != ''">and oo.receiver_province = #{filter.receiverProvince}</if>
        <if test="filter.receiverCity != null and filter.receiverCity != ''">and oo.receiver_city = #{filter.receiverCity}</if>
        <if test="filter.receiverDistrict != null and filter.receiverDistrict != ''">and oo.receiver_district = #{filter.receiverDistrict}</if>
        order by oo.id desc
    </select>
</mapper>
