<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.mall.sys.mapper.SysDictionaryMapper">

    <select id="selectRecursionByKey" resultType="com.yz.mall.sys.entity.SysDictionary">
        WITH RECURSIVE subdictionary AS (
            SELECT id, parent_id, dictionary_key, dictionary_value, sort_order, create_time, update_time
            FROM sys_dictionary
            WHERE invalid = 0 AND dictionary_key = #{key}

            UNION ALL

            SELECT d.id, d.parent_id, d.dictionary_key, d.dictionary_value, d.sort_order, d.create_time, d.update_time
            FROM sys_dictionary d
                     INNER JOIN subdictionary s ON d.parent_id = s.id
            WHERE d.invalid = 0
        )
        SELECT * FROM subdictionary
    </select>
</mapper>
