<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.mall.sys.mapper.SysUserMapper">

    <select id="selectPage" resultType="com.yz.mall.sys.vo.SysUserVo">
        select su.id, su.phone, su.avatar, su.email, su.create_time, su.sex
             , su.username, su.status
        from sys_user su
        <if test="filter.roleId != null and filter.roleId != ''">
            inner join sys_user_relation_role surr on su.id = surr.relation_id
        </if>
        <if test="filter.orgId != null and filter.orgId != ''">
            inner join sys_user_relation_org suro on su.id = suro.user_id
        </if>
        where su.invalid = 0
        <if test="filter.phone != null and filter.phone != ''">and su.phone like concat('%', #{filter.phone}, '%')</if>
        <if test="filter.email != null and filter.email != ''">and su.email like concat('%', #{filter.email}, '%')</if>
        <if test="filter.username != null and filter.username != ''">and su.username like concat('%', #{filter.username}, '%')</if>
        <if test="filter.status != null">and su.status = #{filter.status}</if>

        <if test="filter.comprehensive != null and filter.comprehensive != ''">
            and (su.phone like concat('%', #{filter.comprehensive}, '%') or su.username like concat('%', #{filter.comprehensive}, '%'))
        </if>
        <if test="filter.userIds != null">
            and su.id in
            <foreach collection="filter.userIds" item="userId" separator="," open="(" close=")">
                #{userId}
            </foreach>
        </if>
        <if test="filter.roleId != null and filter.roleId != ''">and surr.invalid = 0 and surr.role_id = #{filter.roleId}</if>
        <if test="filter.orgId != null and filter.orgId != ''">and suro.invalid = 0 and suro.org_id = #{filter.orgId}</if>
        order by su.id desc
    </select>
</mapper>
