<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.mall.au.mapper.SysAccountAuMapper">

    <select id="selectPageByFilter" resultType="com.yz.mall.au.vo.SysAccountAuVo">
        select saa.id, saa.transaction_type, saa.price, saa.quantity, saa.profit_amount, saa.transaction_time
             , saa.relation_id
        from sys_account_au saa
        where saa.invalid = 0
        <if test="filter.id != null">and saa.id = #{filter.id}</if>
        <if test="filter.transactionType != null">and saa.transaction_type = #{filter.transactionType}</if>
        <if test="filter.startTimeFilter != null">and saa.transaction_time &gt;= #{filter.startTimeFilter}</if>
        <if test="filter.endTimeFilter != null">and saa.transaction_time &lt;= #{filter.endTimeFilter}</if>
        order by saa.id desc
    </select>

    <select id="selectChoosePageByFilter" resultType="com.yz.mall.au.vo.SysAccountAuChooseVo">
        select saa.id, saa.price, saa.quantity, saa.transaction_time, ifnull(sell.sell_quantity, 0) as sell_quantity
        from sys_account_au saa
        left join (
            select relation_id, sum(quantity) as sell_quantity
            from sys_account_au
            where invalid = 0 and transaction_type = 1
            group by relation_id
        ) sell on sell.relation_id = saa.id
        where saa.invalid = 0 and saa.transaction_type = 0
          and saa.quantity &gt; ifnull(sell.sell_quantity, 0)
          and saa.price &lt; #{filter.price}
        order by saa.id desc
    </select>

    <select id="selectSummaryPageByFilter" resultType="com.yz.mall.au.vo.SysAccountAuVo">
        select saa.id, saa.transaction_type, saa.price, saa.quantity, saa.transaction_time, ifnull(sell.sell_quantity, 0) as sell_quantity
        from sys_account_au saa
        left join (
            select relation_id, sum(quantity) as sell_quantity
            from sys_account_au
            where invalid = 0 and transaction_type = 1
            <if test="filter.id != null">and relation_id = #{filter.id}</if>
            group by relation_id
        ) sell on sell.relation_id = saa.id
        where saa.invalid = 0 and saa.transaction_type = 0
        <if test="filter.stockStatus == 0">and saa.quantity &gt; ifnull(sell.sell_quantity, 0)</if>
        <if test="filter.stockStatus == 1">and saa.quantity = sell.sell_quantity</if>
        <if test="filter.startTimeFilter != null">and saa.transaction_time &gt;= #{filter.startTimeFilter}</if>
        <if test="filter.endTimeFilter != null">and saa.transaction_time &lt;= #{filter.endTimeFilter}</if>
        <if test="filter.id != null">and saa.id = #{filter.id}</if>
        order by saa.id desc
    </select>

</mapper>
